@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prata&family=Story+Script&display=swap');

/* Valori post reset + body */

h1 {
    font-size: 4.5em;
    font-weight: 800;
    padding: 0.5em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    line-height: 1.1;
}

h2 {
    font-size: 3em;
    margin: 0.8em 0.2em;
    color: #25a2c3;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

h3 {
    font-size: 1.8em;
    margin: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
    margin: 0.3em;
    font-size: 2.3em;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 1.65;
}

/* Header */

header {
    padding-left: ;
    background-color: black;
    box-sizing: content-box;
    height: 200px;
}

header img {
    height: 6em;
    padding: 3em;
}

/* Main */

#primo-blocco {
    text-align: center;
    background-image: url(./Assets/banner.jpg);
    background-size: cover;
    box-sizing: content-box;
    padding: 450px;

}

#primo-blocco p {
    width: 55%;
    margin: 0 auto;
    
}

#primo-blocco h1 {
    color: #25a2c3;
}

button {
    background-color:  #f04c2f;
    border-radius: 10px;
    border: none;
    margin: 3em;
    font-size: 2.3em;
    padding: 0.7em;
    color: white;
    font-weight: bold;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(0.95);
}

#secondo-blocco {
    padding: 5em;
    margin: 5em;
    text-align: center;
    vertical-align: top;
}

#testo-secondo-blocco {
    display: inline-block;
    box-sizing: content-box;
    text-align: start;
    width: 1200px;
    height: 900px;
}

#foto-secondo-blocco {
    display: inline-block;
    box-sizing: content-box;
    width: 1000px;
    height: 1000px;
}

#foto-secondo-blocco img {
    width: 800px;
    border-radius: 500px;
}

#terzo-blocco {
    box-sizing: content-box;
    background-color: #e22d0e;
    text-align: center;
    color: white;
    padding: 8em;
}

#terzo-blocco p {
    margin: 1em;
    font-style: italic;
    font-size: 3em;
}

#terzo-blocco span {
    display: block;
    font-size: 0.6em;
    margin: 0.5em;
}

#quarto-blocco {
    box-sizing: content-box;
    padding: 2em 2em;
    text-align: center;
    margin: 6em 0;
}

#quarto-blocco img {
    width: 100%;
}

article {
    text-align: center;
    margin: 3em 0;
    box-sizing: content-box;
    border: 2px solid #dee1e3;
    padding-bottom: 3em;
    display: inline-block;
    margin: 35px;
    width: 700px;
    height: 750px;
}

article img {
    width: 600px;
    height: 500px;
}

/* Footer */


footer {
    box-sizing: content-box;
    background-color: #25a2c3;
    color: white;
    padding: 3em 0;
    margin-top: 3em;
}

.sottolineatura {
    text-decoration: underline;
    margin-top: 0.3;
    margin-bottom: 0.3;
}

footer i {
    padding-right: 0.4em;
    transition: transform 0.2s;
}

footer i:hover {
    transform: scale(1.2);
}

hr {
    margin: 3em 0;
}

footer p:last-child {
    font-size: 1.6em;
    text-align: center;
}

#allineamento-footer {
    width: 20%;
    margin: 0 auto;

}

